<div class="container d-flex flex-column align-items-center align-content-center justify-content-center">
<h1 class="desk text-center">{{site.description}}</h1>
    <img src="../img/logo.png" alt="logo-img" class="img-fluid">
<h2 class="ready text-center">{{site.page-title-first}}</h2>
<p class="check-list text-center">Этот чек-лист поможет тебе оценить текущее состояние твоего маркетинга, исправить ошибки и совершить настоящий прорыв в 2018 году.?</p>

<img src="../img/nikolay.png" class="img-fluid">
<p class="mb-20 p-0 name">Николай Воробьёв</p>
</div>